<div class="container">
  <h1> Our Spaces (<%= @spaces.count %>)</h1>

  <% @spaces.each do |space| %>
    <div>
      <%= link_to space_path(space), {class: "xxx"} do %>
        <p><%= space.name %></p>
      <% end %>
      <p>Address: <%= space.address %></p>
      <p>Price: <%= space.price %></p>
      <p>Capacity: <%= space.capacity %></p>
    </div>
  <% end %>

</div>


