<div class="container">

<div class="index-banner">
  <h1>Air Party</h1>
  <h3>The right place for the right party</h3>
</div>



  <div class="row">
    <div class="col12 col-lg-6">
      <div class="align-middle">
        <%= form_tag spaces_path, method: :get do %>
          <div class="search-bar">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a space for your party"
              %>
            <%= submit_tag "Search", class: "btn btn-dark search-button" %>
          </div>
        <% end %>
      </div>
    </div>

    <div
      class="col12 col-lg-6"
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  </div>

  <div class="index-title">
    <% if @spaces.count == @spaces_all.count %>
      <h2> Our Spaces (<%= @spaces.count %>)</h2>
    <% else %>
      <h2> Our Spaces (<%= @spaces.count %> of <%= @spaces_all.count %>)</h2>
    <% end %>
  </div>

  <% @spaces.each do |space| %>

    <%= link_to space_path(space), {class: "space-summary-link"} do %>
      <div class="space-card-index">
        <div class="space-image-index">
          <%= cl_image_tag(space.photo,
        width: 400, height: 300, crop: :fill) %>
        </div>
        <div class="space-summary-index">
            <h3><%= space.name %></h3>
          <p>Address: <%= space.address %></p>
          <div class="space-summary-price-guest">
            <p><i class="fas fa-user-friends"></i>  <%= space.capacity %></p>
            <p><i class="fas fa-pound-sign"></i>  <%= space.price %> per party</p>
          </div>
        </div>
      </div>
    <% end %>
<% end %>


</div>


