<!-- Calculate Average rating of reviews -->
<% unless @space.reviews.count == 0 %>
  <% @sum_ratings = 0 %>
  <% @space.reviews.each do |review| %>
      <% @sum_ratings = @sum_ratings + review.rating %>
  <% end %>
  <% @average_rating = @sum_ratings / @space.reviews.count %>
<% end %>
<!--  -->

<div class="banner-img">
  <%= cl_image_tag(@space.photo, crop: :fill) %>
</div>

<div class="container show-page">

  <div class="row">
    <div class="col-12 col-lg-7 detail-area">


      <div class="navigation">

        <% if (@space_index + 1) <= (@number_spaces - 1) %>
          <%= link_to space_path(@next_space) do %>
            <h1><</h1>
          <% end %>
        <% else %>
          <h1></h1>
        <% end %>

        <% if (@space_index - 1) >= 0 %>
          <%= link_to space_path(@prev_space) do %>
            <h1>></h1>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-7 detail-area">

      <div class="detail-box show-title">

        <div class="show-name-owner">
          <div>
            <h1><%= @space.name %></h1>
            <% unless @space.reviews.count == 0 %>
              <div style="display:flex;">
                <% @average_rating.times do %>
                  <i class="fas fa-star icon-stars-lg"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= cl_image_tag @space.user.photo, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>

        <div class="show-address-links">
          <p><%= @space.address %></p>

          <% if current_user == @space.user %>
            <p class="show-links">
            <%= link_to edit_space_path(@space) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, space_path(@space),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

          </p>
          <% end %>


        </div>

      </div>

      <div class="detail-box show-description">
        <h3>A little bit more about this party space:</h3>
        <p>Description: <%= @space.description %></p>
        <p>Category: <%= @space.category %></p>
      </div>

      <div class="detail-box show-details">
        <h3>Details:</h3>
        <div class="flat-summary-price-guest">
          <p><i class="fas fa-user-friends"></i>  <%= @space.capacity %></p>
          <p><i class="fas fa-pound-sign"></i>  <%= @space.price %> per party</p>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-5 booking-area">

      <div class="map-box">
        <div
          id="map"
          style="width: 100%;
          height: 250px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

      <% if current_user != @space.user %>
        <div class="show-new-booking">
          <div class="detail-box new-booking-content">
            <div>
              <h3>Add New Booking</h3>
            </div>
            <%= simple_form_for [@space, @booking] do |f| %>
              <%= f.input :date_start, as: :string, required: false, input_html: { id: "range_start" } %>
              <%= f.input :date_end, as: :string, required: false, input_html: { id: "range_end" }%>
              <%= f.submit "Book Now", class: "btn btn-dark" %>
            <% end %>
          </div>
        </div>

      <% else %>

        <div class="detail-box show-bookings">
          <div>
            <h3>Existing Bookings</h3>
          </div>

          <% @space.bookings.each do |booking|  %>
            <div class="booking-list">
              <div class="booking-list-item">
                <%= cl_image_tag booking.user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <p><%= booking.user.email %></p>
              </div>
              <div class="booking-list-item">
                <p>From:</p>
                <p><%= booking.date_start %></p>
              </div>
              <div class="booking-list-item border-bottom">
                <p>To:</p>
                <p><%= booking.date_end %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>


  <div class="review-heading">
    <h2 class="review-title">Reviews for <%= @space.name %></h2>

    <h3>
      <%= pluralize @space.reviews.count, "review" %>
    </h3>
    <% if @space.reviews.count == 0 %>
      <p>Be the first to leave a review for <%= @space.name %></p>
    <% else %>
      <p>Average rating:</p>
      <div style="display:flex;">
        <% @average_rating.times do %>
          <i class="fas fa-star icon-stars"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="review-buttons">

    <% if current_user %>
      <div>
        <button type="button" class="btn btn-secondary btn-sm write-rev-button">Write a review</button>
      </div>
    <% end %>

    <!-- Only show the read button if there are reviews to read -->
    <% unless  @space.reviews.blank? %>
      <div>
        <button type="button" class="btn btn-secondary btn-sm read-rev-button">Show / hide all reviews</button>
      </div>
    <% end %>
  </div>


  <div class="display-review detail-box hide">
    <h4>All reviews</h4>
    <div id="reviews">
      <% unless @space.reviews.blank? %>
        <% @space.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if current_user %>
    <div class="new-review detail-box hide">
      <h4>Write your review</h4>
      <div>
        <%= render 'reviews/form', space: @space, review: @review %>
      </div>
    </div>
  <% end %>

</div>



