<div class="banner-img">
  <%= cl_image_tag(@space.photo, crop: :fill) %>
</div>

<div class="container">

  <div class="row show-page">

    <div class="col-12 col-lg-8 detail-area">

      <div class="detail-box show-title">

        <h2><%= @space.name %></h1>

        <div class="show-address-links">

          <p><%= @space.address %></p>

          <% if current_user == @space.user %>
            <p class="show-links">
            <%= link_to edit_space_path(@space) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, space_path(@space),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

          </p>
          <% end %>


        </div>
      </div>

      <div class="detail-box show-description">
        <h3>A little bit more about this party space:</h3>
        <p>Description: <%= @space.description %></p>
        <p>Category: <%= @space.category %></p>
      </div>

      <div class="detail-box show-details">
        <h3>Details:</h3>
        <div class="flat-summary-price-guest">
          <p><i class="fas fa-user-friends"></i>  <%= @space.capacity %></p>
          <p><i class="fas fa-pound-sign"></i>  <%= @space.price %> per night</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 booking-area">
      <div class="show-new-booking">
        <div class="detail-box new-booking-content">
          <div>
            <h3>Add New Booking</h3>
          </div>
          <%= simple_form_for [@space, @booking] do |f| %>
            <%= f.input :date_start %>
            <%= f.input :date_end %>
            <%= f.submit "Book Now", class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>


      <div class="detail-box show-bookings">
        <div>
          <h3>Existing Bookings</h3>
        </div>

        <% @space.bookings.each do |booking|  %>
          <div>
            <div class="booking-list-item">
              <p>User:</p>
              <p><%= booking.user.email %></p>
            </div>
            <div class="booking-list-item">
              <p>From:</p>
              <p><%= booking.date_start %></p>
            </div>
            <div class="booking-list-item border-bottom">
              <p>To:</p>
              <p><%= booking.date_end %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>




