<div class="banner-img">
  <%= cl_image_tag(@space.photo, crop: :fill) %>
</div>

<div class="container detail-area">
  <div class="detail-box show-title">
    <h2><%= @space.name %></h1>
    <p><%= @space.address %></p>
  </div>

  <div class="detail-box show-description">
    <h3>A little bit more about this party space:</h3>
    <p>Description: <%= @space.description %></p>
    <p>Category: <%= @space.category %></p>
  </div>

  <div class="detail-box show-details">
    <h3>Details:</h3>
    <div class="flat-summary-price-guest">
      <p><i class="fas fa-user-friends"></i>  <%= @space.capacity %></p>
      <p><i class="fas fa-pound-sign"></i>  <%= @space.price %> per night</p>
    </div>
  </div>

  <div>
    <p class="trash_link">
        <%= link_to space_path(@space), method: :delete do %>
            <i class="far fa-trash-alt"></i>
        <% end %>
    </p>
    <p class="trash_link">
        <%= link_to edit_space_path(@space) do %>
            <i class="far fa-edit"></i>
        <% end %>
    </p>
  </div>

  <div class="back-link-section">
    <%= link_to "< Back", spaces_path, {class: "back-link"} %>
  </div>

</div>
