
  <div class="profile-container">
  <div class="profile-title">
    <h1><%= current_user.name %>'s profile</h1>
  </div>

  <div class="container">

    <div class="row show-page">

      <div class="col12 col-lg-6">
          <div class="spaces-container">
            <h2>Your spaces</h2>
            <% @spaces.each do |space| %>
            <%= link_to space_path(space), {class: "space-summary-link"} do %>
              <div class="profile-card space-card">
                <div class="space-info">
                  <p><strong>Space: </strong><%= space.name %></p>
                  <p><strong>Address: </strong><%= space.address %></p>
                  <p><strong>Price: </strong>£<%= space.price %></p>
                  <p><strong>Category: </strong><%= space.category %></p>
                </div>
                <div class="space-photo">
                <%= cl_image_tag(space.photo, :width => 120, :height => 120, crop: :fill, radius: 5) %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="col-12 col-lg-6 booking-area">
        <div class="bookings-container">
          <h2>Upcoming bookings</h2>
          <% @bookings.each do |booking| %>
            <div class="profile-card booking-card">
              <div class="booking-info">
                 <p><strong>Space:</strong> <%= booking.space.name %></p>
                 <p><strong>Start Date:</strong> <%= booking.date_start %></p>
                 <p><strong>End Date:</strong> <%= booking.date_end %></p>
              </div>
              <div class="space-photo">
                <%= cl_image_tag(booking.space.photo, :width => 80, :height => 80, crop: :fill, radius: 5) %>
              </div>
            </div>
          <% end %>

        </div>

      </div>
    </div>

  </div>












